<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AccountType" value="DesignPattern.TemplateMethod.CurrentAccount, DesignPattern.TemplateMethod" />
    <!--<add key="AccountType" value="DesignPattern.TemplateMethod.SavingAccount, DesignPattern.TemplateMethod" />-->
  </appSettings>
</configuration>